@model IEnumerable<CRUD.Application.ViewModels.ContatoViewModel>

@{
    ViewData["Title"] = "Index";
}
<div class="text-center container">
    <h1>Consulta de Contatos</h1>
</div>


<div class="container col-md-10">

    <a asp-action="Cadastrar" class="btn btn-success">Cadastrar</a>
    <table class="table">
        <thead class="table-bordered table-striped table-dark thead-dark">
            <tr>
                <th>
                    @Html.DisplayName("Nome")
                </th>
                <th>
                    @Html.DisplayName("Data de Nascimento")
                </th>
                <th>
                    @Html.DisplayName("Status")
                </th>
                <th>
                    @Html.DisplayName("Cargo")
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.con_nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.con_dtNasc, "{0:dd/MM/yyyy}")
                </td>
                <td>
                    @if (item.con_ativo == true)
                    {
                        <div class="badge badge-success">Ativo</div>
                    }
                    else
                    {
                        <div class="badge badge-danger">Inativo</div>
                    }


                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.car_nome)
                </td>

                <td>

                    <a asp-action="Editar" asp-route-id="@item.con_id" class="btn btn-dark">Editar</a>
                    <a asp-action="Excluir" asp-route-id="@item.con_id" class="btn btn-danger">Excluir</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
